[paths]
source =
   src/multidirmap
   */site-packages/multidirmap

[run]
branch = true
source =
    multidirmap
    tests
parallel = true

[report]
show_missing = true
precision = 2
omit = *migrations*
